node_modules
build
dist
storage
screencapture.node_debug
screencapture.node_pkg
.vscode
npm-debug.log
latestApp
modules/database
.DS_Store
.python-version
log
screenagent_config.ini
navi-conf.json
RongIMLib_process.node
!src/modules/database/**/node_modules/
{check}
{openDev}
*.pyc
linux_create_desktop.sh
src/*.conf
yarn.lock
get-pip.py
package-lock.json
renderer
*.asar
*.asar.unpacked