<div v-if="show" class="rong-dialog rong-theme-light">
    <div class="rong-dialog-inner rong-dialog-form">
        <a @click.prevent="close" href="#close" class="rong-dialog-close" :title="locale.btns.close"></a>
        <div class="rong-dialog-hd">
            <h2 class="rong-dialog-title">{{locale.title}}</h2>
        </div>
        <div class="rong-dialog-form-bd">
            <input type="text" class="rong-field rong-dialog-form-input" 
            :placeholder="locale.passwordPlaceholder" name="meetingpassword" 
            v-model="password" 
            data-rule-required="true" 
            :data-message-required="locale.passwordPlaceholder"
            data-rule-meetingpassword="true"
            :data-message-meetingpassword="locale.passwordRule"
            >
            <div v-if="errors.meetingpassword" class="rong-friend-tip">{{errors.meetingpassword}}</div>
            <div class="rong-dialog-form-ft">
                <button class="rong-button rong-submit" @click.prevent="submit">{{locale.btns.confirm}}</button>
            </div>
        </div>
    </div>
</div>