<div class="rong-dialog" v-if="show" @dragover.prevent.stop="" @drop.prevent.stop="">
    <div class="rong-dialog-inner rong-setting meeting-setting" :class="['rong-setting-selected-' + currentView]" style="width: 570px;">
        <a @click.prevent="close" href="#close" class="rong-dialog-close" :title="locale.btns.close"></a>
        <div class="rong-dialog-hd" v-rong-succession-click.stop="openDevtool">
            <h2 class="rong-dialog-title">{{locale.components.meetingSetting.settingText}}</h2>
        </div>

        <ul class="rong-setting-aside">
            <li><a class="rong-setting-videoSetting" @click.prevent="setCurrentView('videoSetting')" href="">{{locale.components.meetingSetting.optVideoText}}</a></li>
            <li><a class="rong-setting-audioSetting"  @click.prevent="setCurrentView('audioSetting')" href="">{{locale.components.meetingSetting.optAudioText}}</a></li>
        </ul>

        <div class="rong-setting-main">
            <component :is="currentView" @close="close" :key="updtekey"></component>
        </div>
    </div>
</div>