$blue: #008af3;
.rong-icon {
    background-image: url(images/icon.svg);
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-color: transparent;
}
.rong-list-contact {
    padding-bottom: 20px;
}
.rong-contact {
    margin-top: 5px;
    padding: 0 10px;
    line-height: 20px;
    > li {
        + li {
            margin-top: 25px;
        }
        > ul > li {
            + li {
                margin-top: 25px;
            }
        }
    }
    a, em {
        display: block;
        padding-left: 28px;
    }
    em {
        display: block;
        margin-right: 20px;
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a:hover {
        color: $blue;
    }
}
.rong-contact-item-hd {
    position: relative;
    .rong-selected,
    a:hover {
        color: $blue;
    }
}
.rong-contact-item-hd a,
.rong-contact-item-hd em,
.rong-contact-toggle {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        background-position: 0 -9999px;
        @extend .rong-icon;
    }
}
.rong-contact-child {
    display: none;
    position: relative;
    padding-top: 12px; 
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        left: 10px;
        top: -10px;
        height: 100%; 
        border-left: 1px solid #e3e3e3;
    }
    li + li {
        margin-top: 10px;
    }
    a {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:before {
            content: "";
            position: absolute;
            z-index: 10;
            left: 7px;
            top: 50%;
            margin-top: -3px;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background: #e3e3e3;
        }
    }
    .rong-selected {
        cursor: default;
        color: $blue;
        &:before {
            background-color: $blue;
        }
    }
}
.rong-contact-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    @extend .rong-icon;
    background-position: -8px -1635px;
}
.rong-contact-star {
    a:before {
        background-position: -10px -623px;
    }
    &:hover a:before {
        background-position: -39px -623px;
    }
}
.rong-contact-request,
.rong-contact-friends {
    em:before,
    a:before {
        background-image: url(images/icon.svg);
        background-repeat: no-repeat;
        background-size: 150px auto;
        background-position: -15px -2000px;
    }
}
.rong-contact-new {
    &:before {
        content: "";
        position: absolute;
        left: 14px;
        top: -2px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background: #f45349;
        z-index: 11;
    }
}
.rong-contact-request {
    a:before {
        background-position: -13px -2041px;
    }
    &:hover a:before {
        background-position: -56px -2041px;
    }
}
.rong-contact-friends {
    a:before {
        background-position: -13px -2075px;
    }
    &:hover a:before {
        background-position: -57px -2075px;
    }
}
.rong-contact-group {
    a:before {
        background-position: -9px -684px;
    }
    &:hover a:before {
        background-position: -39px -684px;
    }
}
.rong-contact-approve {
    a:before {
        background-image: url(images/group-notice-icon.svg);
        background-position: -8px -77px;
    }
    &:hover a:before {
        background-image: url(images/group-notice-icon.svg);
        background-position: -48px -77px;
    }
    .rong-selected:before {
        background-image: url(images/group-notice-icon.svg);
        background-position: -89px -77px;
    }
}
.rong-contact-public {
    a:before {
        background-position: -10px -654px;
    }
    &:hover a:before {
        background-position: -39px -654px;
    }
}
.rong-contact-star {
    .rong-selected:before {
        background-position: -68px -623px;
    }
}
.rong-contact-request {
    .rong-selected:before {
        background-position: -102px -2041px;
    }
}
.rong-contact-friends {
    .rong-selected:before {
        background-position: -102px -2075px;
    }
}
.rong-contact-group {
    .rong-selected:before {
        background-position: -68px -684px;
    }
}
.rong-contact-public {
    .rong-selected:before {
        background-position: -68px -654px;
    }
}
.rong-contact-toggle {
    cursor: pointer;
    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-top: 6px solid #969696;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        transition: transform 0.3s;
    }
    &:hover {
        color: $blue;
        &:after {
            border-top-color: $blue;
        }
    }
}
.rong-contact-expand {
    .rong-contact-toggle:after {
        transform: rotate(-180deg);
    }
    .rong-contact-child {
        display: block;
    }
}
.rong-contact-hd {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececed;
}
.rong-contact-title {
    padding-left: 18px;
    line-height: 55px;
}
.rong-contact-main {
    position: relative;
    height: 100%;
    padding-top: 55px;
    .rong-crumb {
        margin-bottom: 10px;
    }
    .rong-empty-contact {
        .rong-empty-approve-bd {
            background-image: url(images/empty-approve.png);
        }
    }
}
.rong-contact-subclass {
    margin-top: 15px;
}
.rong-contact-subclass-hd {
    margin-bottom: 15px;
    height: 26px;
    line-height: 26px;
    padding-left: 18px;
    font-size: 12px;
    background-color: #f3f3f5;
}
.rong-dept-icon {
    background: url(images/icon.svg) no-repeat -11px -1941px;
    background-size: 138px auto;
    background-clip: padding-box;
}
.rong-company-icon {
    width: 40px;
    height: 40px;
    background: url(images/company-base.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    .rong-contact-item-hd & {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 2px;
    }
}
.rong-company-icon-loader {
    display: table-cell;
    width: 40px;
}
.rong-contact-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
}
.rong-contact-list {
    padding-left: 18px;
}
.rong-user {
    width: 395px;
    padding-bottom: 20px;
    .rong-avatar {
        cursor: default;
    }
}
.rong-user-range{
    display: table-cell;
    height: 60px;
    vertical-align: middle;
}
.rong-user-hd {
    border-radius: 8px 8px 0 0;
    padding: 25px;
    background: #f2f5f8;
}
.rong-user-bd {
    max-height: 270px;
    overflow-y: auto;
    user-select: text;
}
.rong-user-bd.rong-user-visitor {
    padding-top: 20px;
}
.rong-user-avatar {
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 4px;
    overflow: hidden;
    .rong-avatar-item {
        font-size: 36px;
        line-height: 60px;
    }
    a {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        z-index: 2;
    }
}
.rong-user-name {
    margin: 5px 0;
    user-select: text;
}
.rong-user-name-main {
    float: left;
}
.rong-user-alias {
    overflow: hidden;
    white-space: nowrap;
    label {
        float: left;
        margin-right: 5px;
        line-height: 30px;
    }
    input {
        width: 140px;
    }
}
.rong-user-name label {
    display: inline-block;
    max-width: 100px;
    vertical-align: text-bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rong-user-alias-edit {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    @extend .rong-icon;
    background-position: -8px -440px;
    &:hover {
        background-position: -50px -440px;
    }
}
.rong-user-add,
.rong-user-remove {
    float: right;
    margin-top: 17px;
    padding: 0 15px;
    line-height: 28px;
}
.rong-user-remove {
    color: #f45349;
}
.rong-user-favorite {
    position: relative;
    top: -1px;
    display: inline-block;
    border: 0;
    width: 18px;
    height: 18px;
    @extend .rong-icon;
    background-position: -15px -725px;
    vertical-align: middle;
}
.rong-user-favorite-selected {
    background-position: -60px -725px;
}
.rong-user-request {
    p {
        padding: 20px 20px 20px 35px;
        border-bottom: 1px solid #e3e3e3;
    }
    .rong-user-primary {
        margin-top: 70px;
    }
}
.rong-user-title {
    margin: 15px 35px 15px 35px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: -12px;
        top: 11px;
        margin-top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 100px;
        background: #7f96a3;
    }
}
.rong-user-detail {
    padding-left: 35px;
    min-height: 40px;
    li {
        padding-right: 25px;
        + li {
            margin-top: 10px;
        }
        span {
            display: inline-block;
            width: 257px;
            vertical-align: top;
        }
    }
    label {
        display: inline-block;
        width: 62px;
        color: #7f96a3;
    }
}
.rong-user-primary {
    display: block;
    width: 160px;
    height: 40px;
    margin: 40px auto 0 auto;
    color: $blue;
}
.rong-friend-list {
    .rong-profile-main {
        position: relative;
    }
}
.rong-friend-add {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 78px;
    height: 32px;
    .rong-friend-list &[disabled] {
        &, &:hover {
            border-color: transparent;
            background-color: transparent;
        }
    }
}

.rong-cardmessage .rong-history-item-bd {
    .rong-conversation-one-message {
        position: relative;
        padding: 9px;
        border-radius: 5px;
        line-height: 1.3;
    }
}
.rong-filemessage .rong-history-item-bd,
.rong-richcontentmessage .rong-history-item-bd {
    .rong-conversation-one-message {
        position: relative;
        padding: 8px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #fff;
    }
}

.rong-history-item-bd {
    .rong-audio-bd{
        background-color: #fff;
    }
}

.rong-history-item-bd mark {
    background: #f6e893;
    color: #333;
}

.rong-empty-contact {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .rong-empty-contact-hd {
        height: 55px;
    }
    .rong-empty-contact-bd {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        padding-top: 182px;
        background: url(images/empty-pin.png) no-repeat center top;
        text-align: center;
        color: #717579;
    }
    .rong-empty-star-bd {
        background-image: url(images/empty-star.png);
    }
    .rong-empty-friend-bd {
        background-image: url(images/empty-friend.png);
    }
    .rong-empty-friend-request-bd {
        background-image: url(images/empty-friend-request.png);
    }
    .rong-empty-group-bd {
        background-image: url(images/empty-group.png);
    }
}
.rong-approve-list {
    .rong-approve-profile {
        position: relative;
    }
    .rong-contact-approve-clear {
        position: absolute;
        right: 23px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(images/group-notice-icon.svg);
        background-size: 150px auto;
        width: 22px;
        height: 22px;
        cursor: pointer;
        z-index: 9;
        background-position: -10px -166px;
    }
    .rong-contact-approve-clear:hover {
        background-position: -51px -166px;
    }
    .rong-approve-unclear {
        cursor: default;
        background-position: -10px -166px;
    }
    .rong-approve-unclear:hover {
        background-position: -10px -166px;
    }
    .rong-approve-avatar {
        float: left;
    }
    .rong-approve-main {
        width: 100%;
        padding-left: 40px;
    }
    .rong-approve-requester {
        padding-top: 2px;
        font-size: 12px;
        color: rgb(125, 125, 125);
    }
    .rong-approve-status {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 83px;
        height: 35px;
        button, span {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 15px;
        }
        .rong-approve-status-btn {
            border: 1px solid #e3e3e3;
            border-radius: 8px;
            background-color: white;
            color: $blue;
        }
        .rong-approve-status-title {
            color: rgb(119, 119, 119);
            line-height: 35px;
            text-align: center;
        }

    }
}
