.rong-set-password {
    width: 440px;
    height: 384px;
}

.rong-set-password-title {
    height: 128px;
    background-color: #F2F9FF;
    border-radius: 8px 8px 0 0;
    padding: 20px 0 0 40px;
}

.rong-set-password-tip {
    width: 214px;
    height: 64px;
    float: left;
    font-size: 26px;
    margin-top: 5px;
    color: #4D4D4D;
    font-family: serif;
    font-weight: 600;
}

.rong-set-password-high-light {
    color: #24A8EA;
}

.rong-set-password-icon {
    background-image: url(images/set-password.png);
    background-repeat: no-repeat;
    height: 88px;
    width: 135px;
    float: right;
}

.rong-set-password-form {
    height: 232px;
}

.rong-set-password-list {
    height: 200px;
}

.rong-set-password-list label {
    position: absolute;
    left: -70px;
    top: 0;
    width: 100px;
    line-height: 30px;
}

.rong-set-password-item {
    height: 60px;
    position: relative;
    margin: 24px 0 0 105px;
    .rong-set-password-field::-webkit-input-placeholder {
        color: rgb(200, 200, 200);
    }
    .rong-set-password-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: rgb(200, 200, 200);
    }
    .rong-set-password-field::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: rgb(200, 200, 200);
    }
    .rong-set-password-field:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: rgb(200, 200, 200);
    }
}

.rong-set-password-item input {
    width: 280px;
    height: 30px;
    padding: 0 12px;
}

.rong-set-password-item-unempty {
    letter-spacing: 4px;
}

.rong-set-password-item-error{
    border: 1px solid red;
}

.rong-set-password-error {
    color: #A9A9A9;
    font-size: 13px;
    margin-top: 7px;
    margin-top: 5px;
    left: 3px;
}
.rong-set-password-error-english {
    max-width: 270px;
}
.rong-setpassword-form-error {
    font-size: 13px;
    margin-top: 7px;
    left: 3px;
    padding-right: 23px;
    word-break: keep-all; 
}

.rong-set-password-submit {
    border: none;
    margin: 0;
    margin-top: 14px;
}
.rong-set-password-new {
    margin-top: 40px;
}
.rong-set-password-confirm {
    margin-top: 5px;
}
.rong-set-password-confirm-english-true {
    margin-top: 20px;
}
.rong-set-password-tip-english {
    margin-left: -10px;
    width: 270px;
}