.rong-setting {
  width: 540px;
  height: 600px;
  overflow: hidden;
}

.rong-setting-aside {
  float: left;
  width: 120px;
  height: 100%;
  border-right: 1px solid #ececed;
  padding-top: 30px;
}

.rong-setting-aside li + li {
  margin-top: 15px;
}

.rong-setting-aside a {
  display: block;
  padding-left: 16px;
}

.rong-setting-aside a:hover {
  color: #3a91f3;
}

.rong-setting-selected-account .rong-setting-account {
  color: #3a91f3;
  cursor: default;
}

.rong-setting-selected-password .rong-setting-password {
  color: #3a91f3;
  cursor: default;
}

.rong-setting-selected-system .rong-setting-system {
  color: #3a91f3;
  cursor: default;
}

.rong-setting-selected-screen .rong-setting-screen {
  color: #3a91f3;
  cursor: default;
}

.rong-setting-selected-about .rong-setting-about {
  color: #3a91f3;
  cursor: default;
}

.rong-setting-selected-videoSetting .rong-setting-videoSetting {
  color: #3a91f3;
  cursor: default;
}

.rong-setting-selected-audioSetting .rong-setting-audioSetting {
  color: #3a91f3;
  cursor: default;
}

.rong-setting-main {
  margin-left: 120px;
}

.rong-setting-main .rong-system {
  max-height: 560px;
  overflow-y: auto;
}

.rong-setting-form {
  padding-top: 35px;
}

.rong-setting-form li {
  position: relative;
  margin: 0 0 38px 105px;
  width: 225px;
}

.rong-setting-form label {
  position: absolute;
  left: -105px;
  top: 0;
  width: 105px;
  padding-left: 35px;
  line-height: 30px;
  text-align: right;
}

.rong-setting-form .rong-field {
  display: block;
  width: 100%;
}

.rong-setting-form .rong-button {
  width: 120px;
}

.rong-setting-submit {
  margin-top: 45px;
  text-align: center;
}

.rong-setting-submit .rong-submit {
  height: 38px;
}

.rong-system {
  padding: 25px 30px;
}

.rong-system > li {
  position: relative;
  text-align: right;
  margin-left: 130px;
}

.rong-system > li + li {
  margin-top: 30px;
}

.rong-system .rong-setting-shortcut {
  margin-left: 0;
  text-align: left;
}

.rong-system .rong-setting-shortcut .rong-shortcut-content {
  margin-top: 15px;
  color: #777;
  font-size: 12px;
}

.rong-system .rong-setting-shortcut .rong-shortcut-list {
  margin-top: 20px;
}

.rong-system .rong-setting-shortcut .rong-shortcut-list span {
  float: right;
}

.rong-system .rong-setting-shortcut .rong-shortcut-list li {
  margin-top: 16px;
  line-height: 14px;
}

.rong-system .rong-setting-screen-pwd {
  margin-left: 96px;
}

.rong-system .rong-setting-screen-pwd .rong-system-text {
  left: -96px;
}

.rong-system .rong-setting-screen-pwd input {
  text-align: right;
  width: 260px;
}

.rong-system .rong-setting-screen-pwd .rong-form-error {
  left: 0;
  width: 100%;
}

.rong-system .rong-setting-screen-note {
  margin-left: 0;
  text-align: left;
  font-size: 12px;
  color: #AAAAAA;
}

.rong-system .rong-custom-select,
.rong-system .rong-custom-option {
  color: #777;
  text-align: left;
  background-color: #f8f8f8;
}

.rong-system .rong-screen-submit {
  text-align: center;
  margin-left: 0;
}

.rong-system .rong-screen-submit .rong-submit {
  width: 120px;
  height: 38px;
}

.rong-system-text {
  position: absolute;
  left: -130px;
  top: 0;
  text-align: left;
}

.rong-setting-shortcut li + li {
  margin-top: 10px;
}

.rong-system-version {
  line-height: 25px;
}

.rong-system-version em {
  color: #777;
}

.rong-system-version button {
  min-width: 80px;
  height: 25px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 5px;
}

.rong-select-majorcompany {
  width: 197px;
}

.rong-select-language {
  width: 90px;
}

.rong-account {
  padding-top: 60px;
  text-align: center;
}

.rong-account li + li {
  margin-top: 10px;
}

.rong-account .rong-avatar {
  margin: 0 auto;
  cursor: default;
}

.rong-account .rong-avatar-item {
  line-height: 60px;
  font-size: 40px;
}

.rong-account-logout button {
  display: inline-block;
  margin-top: 30px;
  width: 160px;
  height: 38px;
  color: #ff7676;
}

.rong-system-version-btn {
  padding: 3px 20px;
  border-radius: 10px;
  background-color: white;
  color: #333;
  box-shadow: none;
  border: 1px solid #e4e4e4;
}

.meeting-setting {
  width: 570px;
}
