<script id="rong-template-image-rebox" type="text/x-template">
    <!--#include virtual="image.html" -->
</script>

<script id="rong-template-at-panel" type="text/x-template">
    <!--#include virtual="conversation/at-panel.html" -->
</script>

<script id="rong-template-conversation-contextmenu" type="text/x-template">
    <!--#include virtual="conversation/contextmenu.html" -->
</script>

<script id="rong-template-user" type="text/x-template">
    <!--#include virtual="contact/user.html" -->
</script>

<script id="rong-template-setting-layout" type="text/x-template">
    <!--#include virtual="setting/layout.html" -->
</script>

<script id="rong-messagebox" type="text/x-template">
    <!--#include virtual="messagebox.html" -->
</script>

<script id="rong-messagetoast" type="text/x-template">
    <!--#include virtual="messagetoast.html" -->
</script>

<script id="rong-template-group-qrcode" type="text/x-template">
    <!--#include virtual="conversation/group-qrcode.html" -->
</script>
<script id="rong-template-preview-image" type="text/x-template">
    <!--#include virtual="conversation/preview-image.html" -->
</script>
<script id="rong-template-loading" type="text/x-template">
    <!--#include virtual="loading.html" -->
</script>
