<div class="rong-dialog" v-if="show" @dragover.prevent.stop="" @drop.prevent.stop="">
    <div class="rong-dialog-inner rong-set-password">
        <div class="rong-set-password-title">
            <div class="rong-set-password-tip" :class="'rong-set-password-tip-' + language">
                {{locale.safe}}<span class="rong-set-password-high-light">{{locale.modify}}</span>
            </div>
            <div class="rong-set-password-icon"></div>
        </div>
        <div class="rong-set-password-form">
            <form action="" @submit.prevent="submit">
                <ul class="rong-set-password-list">
                    <li class="rong-set-password-item rong-set-password-new"> 
                        <label>{{locale.newPwd}}</label>
                        <!-- 
                            data-rule-rangelength="6,16" 
                            :data-message-rangelength="locale.tipPwd"
                         -->
                        <input 
                            type="password" 
                            name="password" 
                            v-model="password" 
                            class="rong-field rong-set-password-field"
                            :class="[
                                isError() ? 'rong-set-password-item-error': '',
                                password.length > 0 ? 'rong-set-password-item-unempty' : ''
                            ]" 
                            :placeholder="locale.tipNewPwd"
                            :maxlength="maxlength"
                            data-rule-password="" 
                            :data-message-password="locale.tipPassword"
                            data-rule-required="true"
                            :data-message-required="locale.tipNewPwd"
                        >
                        <div v-if="errors.password" class="rong-form-error rong-setpassword-form-error" :class="[isError()? '' : 'rong-set-password-error', 'rong-set-password-error-' + language ]">{{errors.password}}</div>
                    </li>
                    <li class="rong-set-password-item rong-set-password-confirm" :class="'rong-set-password-confirm-' + language + '-' + !!isError()"> 
                        <label>{{locale.confirmPwd}}</label>
                        <input 
                          type="password" 
                          name="confirmPassword" 
                          v-model="confirmPassword" 
                          class="rong-field rong-set-password-field"
                          :class="[
                            errors.confirmPassword ? 'rong-set-password-item-error' : '',
                            confirmPassword.length > 0 ? 'rong-set-password-item-unempty' : ''
                          ]" 
                          :placeholder="locale.tipConfirmPwd" 
                          :maxlength="maxlength"
                          data-rule-required="true" 
                          :data-message-required="locale.tipConfirmPwd"
                          data-rule-equalto="[name=password]" 
                          :data-message-equalto="locale.tipMatchPwd"
                        >
                        <div v-if="errors.confirmPassword" class="rong-form-error rong-setpassword-form-error">{{errors.confirmPassword}}</div>
                    </li>
                    <li class="rong-set-password-item rong-group-buttons rong-set-password-submit">
                        <button class="rong-button rong-submit" type="submit">{{locale.confirm}}</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div> 