<div v-if="show" class="rong-dialog rong-theme-light">
    <div class="rong-dialog-inner rong-dialog-form">
        <a @click.prevent="close" href="#close" class="rong-dialog-close" :title="locale.btns.close"></a>
        <div class="rong-dialog-hd">
            <h2 class="rong-dialog-title">{{locale.title}}</h2>
        </div>
        
        <div class="rong-dialog-form-bd">
            <input type="text" class="rong-field rong-dialog-form-input" 
            :placeholder="locale.searchTip" maxlength="30" name="mobile" 
            v-model="mobile" data-rule-required="true" 
            :data-message-required="locale.mobileEmptyTip" @keydown="keydown">
            <div v-if="errors.mobile" class="rong-friend-tip">{{errors.mobile}}</div>
            <template v-if="userList.length > 0">
                <div class="rong-profile" v-for="user in userList">
                    <label class="rong-profile-aside rong-avatar-small">
                        <component is="avatar" :user="user" @clickavatar="userProfile(user.id || user.uid)"></component>
                    </label>
                    <div class="rong-profile-main">
                        <label>{{userName(user)}}</label>
                    </div>
                    <button v-if="userList.length > 1" class="rong-add-friend-button rong-button rong-submit" @click.prevent="addFriend(user)">{{locale.btns.addFriend}}</button>
                </div>
                <div class="rong-dialog-form-ft" v-if="userList.length === 1">
                    <button class="rong-button rong-submit" @click.prevent="addFriend(userList[0])">{{locale.btns.addFriend}}</button>
                </div>
            </template>
            <template v-else>
                <div class="rong-friend-tip" v-if="searchDone">{{locale.searchEmpty}}</div>
                <div class="rong-dialog-form-ft">
                    <button class="rong-button rong-submit" @click.prevent="search">{{locale.btns.confirm}}</button>
                </div>
            </template>
        </div>
    </div>
</div>