<div class="rong-dialog" v-if="user" @dragover.prevent.stop="" @drop.prevent.stop="">
    <div class="rong-dialog-inner rong-user">
        <a @click.prevent="close" href="" class="rong-dialog-close" :title="locale.btns.close"></a>
        <div class="rong-user-hd rong-clearfix" v-if='user'>
            <div class="rong-user-avatar">
                <component is="avatar" :user="user" class="rong-avatar-large"></component>
                <a v-show='isLoginUser' href="#edit-avatar" @click.prevent="setAvatarEditable">{{locale.editAvatar}}</a>
            </div>
            <button v-if="isFriend" class="rong-button rong-user-remove" @click="removeFriend()">{{locale.removeFriend}}</button>           
            <button v-else-if="!isLoginUser && !isRequesting" class="rong-button rong-submit rong-user-add" @click="addFriend()">{{locale.addFriend}}</button>
            <div class="rong-user-range">
                <div class="rong-user-name">
                    <label>{{user.name}}</label>
                    <template v-if="showStar"> 
                        <button v-if="user.star" class="rong-user-favorite rong-user-favorite-selected" @click="unsetStar" :title="locale.unsetStar"></button>
                        <button v-else class="rong-user-favorite" type="button" @click="setStar" :title="locale.setStar"></button>
                    </template>
                </div>
                <div v-if="showEditAlias" class="rong-user-alias">
                    <input v-if="aliasEditable" type="text" class="rong-field" v-model="alias" maxlength="10" v-focus @blur="setAlias"  @keyup.enter="setAlias" @keyup.esc="cancelAlias">
                    <template v-else>
                        <label>{{user.alias || locale.aliasEmpty}}</label>
                        <a href="" class="rong-user-alias-edit" :title="locale.btns.edit" @click.prevent="setAliasEditable"></a>
                    </template>
                </div>
            </div>
        </div>
        
        <!-- 请求了尚未通过 isRequesting-->
        <div v-if='isRequesting' class="rong-user-request">
            <p>{{user.requestInfo.content}}{{locale.requestInfo}}</p>
        </div>

        <div v-if="isStaff" class="rong-user-bd">
            <template v-for="info in infoList">
                <h2 v-if="info.companyName" class="rong-user-title">{{info.companyName}}</h2>
                <ul class="rong-user-detail">
                    <li v-if="showMobile && info.mobile">
                        <label>{{locale.user.mobile}}</label>
                        <span v-if="executiveLimit">***********</span>
                        <span v-else>{{info.mobile}}</span>
                    </li>
                    <li v-if="info.tel">
                        <label>{{locale.user.tel}}</label>
                        <span>{{info.tel}}</span>
                    </li>
                    <li v-if="info.email">
                        <label>{{locale.user.email}}</label>
                        <span><a :href="'mailto:' + user.email">{{info.email}}</a></span>
                    </li>
                    <!-- <li v-if="info.deptName">
                        <label>{{locale.user.deptName}}</label>
                        <span>{{info.deptName}}</span>
                    </li> -->
                    <li v-for="dept in info.deptList">
                        <label>{{locale.user.deptName}}</label>
                        <span :title="fullPath(dept)">{{getFullDeptPath(dept)}}</span>
                    </li>
                    <li v-if="info.duty_name">
                        <label>{{locale.user.dutyName}}</label>
                        <span>{{info.duty_name}}</span>
                    </li>
                    <li v-if="info.supervisor_name">
                        <label>{{locale.user.supervisorName}}</label>
                        <span>{{info.supervisor_name}}</span>
                    </li>
                    <li v-if="info.staff_no">
                       <label>{{locale.user.staffNo}}</label>
                        <span>{{info.staff_no}}</span>
                    </li>
                </ul>
            </template>
        </div>
        <div v-else class="rong-user-bd rong-user-visitor">
            <ul class="rong-user-detail">
                <li v-if="user.mobile">
                    <label>{{locale.user.mobile}}</label>
                    <span>{{user.mobile}}</span>
                </li>
            </ul>
        </div>
        <component v-if="avatarEditable" is="edit-avatar" @close="avatarEditable = false;" @srcchange="srcChanged"></component>    

        <button v-if='isRequesting' class="rong-button rong-user-primary" @click="acceptFriend(user)">{{locale.accept}}</button>
    </div>
</div>