@import "reset.scss";

html,
body {
  // width: 1440px;
  // height: 900px;
  height: 100%;
  font-family: "font-family:PingFangSC-Medium,PingFang SC";
  color: rgba(46, 53, 56, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
// .portal-table-header {
//   color: #333133;
//   font-weight: bolder;
// }
.el-textarea .el-textarea__inner {
  resize: none;
}

.el-checkbox__inner {
  width: 12px;
  height: 12px;
}
// .el-form .el-form-item .el-checkbox  .el-checkbox__input {
//   margin-top: -25px;
// }
.el-form--label-top .el-form-item__label {
  padding: 0px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 20px;
  margin-bottom: 10px;
}

.el-dialog__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.el-dropdown-menu {
  text-align: center;
}

.el-message-box {
  padding-bottom: 30px;
  .el-message-box__btns {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #2e3538;
    line-height: 20px;
    button {
      padding: 10px 53px;
      border-radius: 2px;
    }
  }

  .el-message-box__container {
    margin: auto;
    width: 266px;
    margin-top: 30px;
    margin-bottom: 56px;
  }
}

.el-dialog .el-dialog__body {
  padding: 12px 0px;
  min-height: 70px;
}

.no-icon-class {
  display: none;
}

.prompt-update-name {
  .el-message-box__container {
    display: none !important;
  }
  .el-message-box__input {
    width: 274px;
    margin: auto;
  }
}
