node_modules
.DS_Store
Thumbs.db
*.log
js/data.js
.swp
index2.html
.project
css/*.map
modules/*.map
config.codekit
release/*.*
modules/**/css/*.map
.python-version
dist
package-lock.json
scripts/build.conf
build/build.conf
src/**/*.css
public/version.txt
